<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameTrader</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <script src="/main.js" defer></script>
</head>
<body>
    <div id="header">
        <h1 id="head" style="display: inline-block">GameTrader</h1>
        <form action="/items/new" method="GET" style="display: inline-block;"><button>+</button></form>
    </div>
    <% items.forEach(item=> { %>
        <% if(item.name!=" ") { %>
            <div class="item" onclick="console.log(`<%=item.id%>`)">
                <h1><%= item.name %></h1>
                <h1>$<%= item.cost%></h1>
            </div>
        
        <% } %>
    <% }) %>
</body>
</html>