<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameTrader</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/users/userCheck" method="POST">
        <input name="name" id="name" type="String" placeholder="Name">
        <input name="username" id="username" type="String" placeholder="Username">
        <input name="password" id="password" type="String" placeholder="Password">
        <input type="submit">
    </form>
</body>
</html>